requests==2.32.3
duckdb==1.2.2
pyiceberg[duckdb,s3fs]==0.9.0
pandas==2.2.3
python-dotenv==1.1.0
pyarrow==19.0.1
sqlalchemy==2.0.49
streamlit==1.57.0
plotly==6.7.0
dagster==1.9.13
dagster-webserver==1.9.13
